.treeNodeMain{
    background-color: var(--bgColor--);
    color: var(--color--);
    padding: .375rem .75rem;
    border-radius: .5625rem;
    box-sizing: border-box;
    box-shadow: 0 0 .12rem .08rem var(--bgColor--);
    cursor: pointer;
    margin: .375rem;
    margin-left: .5625rem;
    position: relative;
    /* CR: all？确定？ */
    transition: .6s all ease;
    overflow: visible;
}
.treeNodeMainActive{
    box-shadow:0 0 .24rem .16rem var(--bgColor--);
}
.showNodeArea{
    position: absolute;
    padding: .5625rem;
    display: block;
    z-index: -1;
    top: 108%;
    left: .3rem;
    transform: scale(0.00001);
    transform-origin: left;
    transition: .6s all ease;
    background-color: rgba(252, 252, 252, .8);
    backdrop-filter: blur(.1875rem);
    box-shadow: 0 .1275rem .375rem .1875rem #cccccccc;
    width: 60vw;
    height: 40vh;
    border-radius: .5625rem;
    opacity: 0;
    overflow: hidden;
}
.showNodeAreaShow{
    transform: scale(1);
    opacity: 1;
    z-index: 1;
}
.nodeContain{
    position: relative;
}
.NodeContent{
    width: 100%;
}
.LabelContain{
    width: 100%;
    height: 2.325rem;
    white-space: nowrap;
    overflow: auto;
}
.labelItem{
    padding: .25rem .5rem;
    background-color: #f9f9f962;
    color: #7FA1F7;
    border-radius: .5625rem;
    font-size: .75rem;
    height: 1.44rem;
    cursor: pointer;
    box-shadow: 0 0 .675rem white;;
    margin-right: .5625rem;
}