body {
  font-family: unset!important;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 800px;
  margin: 20px auto 50px;
  padding-bottom: 50px;
}


.content {
  width: 610px;
  min-height: 50px;

  color: rgb(29, 29, 31);
}

.notice {
  text-align: center;
  font-weight: 200;
  font-size: 40px;
  opacity: 0.6;

  margin: 200px 0;
  width: 100%;
}

.main {
  padding: 10px;

  background: #fbfbfd;
  border-radius: 10px;
}

.subPageTitle h3 {
  padding-inline: 10px;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0 10px;
}