.detailPage {
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    height: 100%;
}

/* 设置滚动条的样式 */
.detailPage ::-webkit-scrollbar {
    width: 6px;
}

/* 滚动槽 */
.detailPage ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e9e9eb;
}

/* 滚动条滑块 */
.detailPage ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}