.detailPage {
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    height: 100%;
    /* 这个是背景色，如果主页的背景色已经确定，可以去掉 */
    background-color: #eeeeee;
}

/* .detailPage ::-webkit-scrollbar {
    width: 6px;
}

.detailPage ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #0000df;
}

.detailPage ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(235, 0, 0, 0.1);
} */