.titleBlock {
  width: 50%;
  padding: 3rem;
  color: rgba(255, 255, 255, 0.24);
  text-align: center;
  text-shadow: 0 0 0.1875rem white;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  text-shadow: none;
  text-shadow: 0 0 0.375rem white;
  color: #ececec;
  cursor: pointer;
}

.titlep {
  font-size: 1rem;
  color: white;
  line-height: 1.6;
}

.backBlock {
  background: url("../../../images/frontendWiki.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}
.homeBottom {
  position: absolute;
  bottom: 0;
  height: 4.25rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}
.svgBlock {
  animation: iniUpset 1.8s ease-in-out infinite alternate;
  -moz-animation: iniUpset 1.8s ease-in-out infinite alternate;
  -webkit-animation: iniUpset 1.8s ease-in-out infinite alternate;
}
.svgBlock > svg {
  transform: rotate(180deg) scale(0.3);
}
@keyframes iniUpset {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@-webkit-keyframes iniUpset {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@-moz-keyframes iniUpset {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-6px);
  }
}
.homeTopBar {
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(66, 66, 66, 0.12);
  z-index: 1;
  justify-content: flex-end;
}
.topBarButton {
  border: rgba(255, 255, 255, 0.24) solid 1px;
  background-color: rgba(125, 125, 125, 0.12);
  border-radius: 2.25rem;
  padding: 0.375rem 2rem;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
  margin-right: 2rem;
}
.homeTopBarDark {
  background-color: rgba(22, 22, 22, 0.815);
}
