.tabsList{
    padding: 0;
    list-style: none;
    overflow: auto;
    margin: 0 ;
}

.tabTitle{
    font-weight: 800;
}

.tabLink{
    color: #909399;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
}
.tabLink:hover{
    color: #303133;
}
.tabLink > label{
    cursor: pointer;
}
/* .tabLink > input[type="radio"]:checked + label{
    color: #409EFF;
    transition: .36s ease color;
} */

.activeTab{
    color: #409EFF;
    transition: .36s ease color;
}