.Sortbar {

}

.header {
    display: flex;
    justify-content: space-between;
    height: 2rem;

    line-height: 2rem;
    color: rgba(29, 29, 31,0.7);
    padding-inline: 10px;
}

.left {

}

.left span {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;

    transition: color .3s ease;
}

.left span:hover {
    color: #409EFF;
}

.right {

}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}