a:link {
    text-decoration: none;
}

.link_item {
    -webkit-box-shadow: rgba(150,150,150,0.1) 0 0 20px 0;
    -moz-box-shadow: rgba(150,150,150,0.1) 0 0 20px 0;
    box-shadow: rgba(150,150,150,0.1) 0 0 20px 0;

    width: 48.5%;
    padding: 10px 0 20px;
    margin: 10px 0;
    border-radius: 10px;
    position: relative;

    background: RGBA(255,255,255,0.8);
    cursor: pointer;
}

.container {
    margin: 0 20px;
}

.header {

}

.header h4 {
    color: RGBA(58,79,104,1);
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 10px;
}

.header h4 span {
    font-size: 16px;
    font-weight: 600;
    color: RGBA(33,54,81,0.6);
    float: right;
}

.header h4 span svg {
    position: relative;
    top: 2px;
    height: 17px;
    width: 17px;
}

.content {
    font-size: 16px;
    font-weight: lighter;
    color: RGBA(118,129,142,1);
    margin: 25px 0 -10px;
}


.footer {
    font-weight: 600;
    font-size: 14px;
    color: #587D96;
    display: flex;
    justify-content: space-between;
}

.tag {
    padding-bottom: 2px;
    border-bottom: 2px dashed RGBA(88,125,150,0.6);
}

.link_item:hover .delete, .delete:hover {
    display: block;
}

.delete {
    display: none;
    position: absolute;
    bottom: -30px;
    right: 50%;
    transform: translateX(50%);

    width: 80px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 10px;
    z-index: 2;
    background: RGBA(255,255,255,1);

    line-height: 40px;
    text-align: center;
}