.linksList {
  padding: 0 0.5rem;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
  --bottom-line-color: #409EFF;
}
.linksList::-webkit-scrollbar{
    background-color: rgba(0, 0, 0, 0.12);
    width: .36rem;
    border-radius: .3rem;
}
.linksList::-webkit-scrollbar-track{
    display: none;
}
.linksList::-webkit-scrollbar-button{
    display: none;
}
.linksList::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, .2);
    border-radius: .3rem;
}

.link {
  border-radius: 0.625rem;
  background-color: #f9f9f9;
  overflow: hidden;
  margin: 10px 0 0 0;
  transition: all 0.45s ease;
  padding: 0.5rem 0 0 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05), 0 10px 20px -10px rgba(0, 0, 0, 0.05);
}

.linkContent {
  padding: 0.5rem 1rem;
  transition: all 0.45s ease;
}
.link:hover {
  padding: 0.5rem;
}
.linkContent:hover {
  padding: 0.5rem 0;
}
.linkText {
  color: #ccc;
  font-size: 6px;
  text-decoration: none;
  padding-top: 3px;
}

.linkDesc {
  color: #333;
  font-weight: 600;
}

.bottomLine {
  background-color: var(--bottom-line-color);
  height: 6px;
  border-radius: 0.5rem;
}

.iconBox{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.iconBtn{
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: var(--bottom-line-color);
  margin: 1rem 0.5rem 0 0;
  cursor: pointer;
  float: right;
}