.Item {
    width: 140px;
    border-radius: 10px;

    background: #fbfbfd;
    cursor: default;

    text-align: center;
}

.Item p {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 20px 0 0;
    color: RGBA(51, 63, 79, 1);
}

.Item h3 {
    font-size: 12px;
    font-weight: 400;
    color: #86868b;

    margin: 10px 0 20px;
}