a:link {
    text-decoration: none;
}

.comment_item {
    -webkit-box-shadow: rgba(150,150,150,0.1) 0 0 20px 0;
    -moz-box-shadow: rgba(150,150,150,0.1) 0 0 20px 0;
    box-shadow: rgba(150,150,150,0.1) 0 0 20px 0;

    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    background: RGBA(255,255,255,0.8);
}

.comment_content h4 {
    margin: 0 0 30px;
    font-size: 14px;
    font-weight: 600;
    color: RGBA(92,103,112,1);
}

.comment_title {
    padding-bottom: 2px;
    border-bottom: 2px dashed RGBA(92,103,112,0.3);
}

.comment_date {
    float: right;
    opacity: 0.5;
}

.comment_content p {
    margin: 0;
    color: RGB(47,62,75);
}

.comment_footer {
    display: flex;
    justify-content: space-between;

    color: RGB(106,117,126);
    font-size: 14px;
    margin-top: 20px;
}

.comment_delete {
    margin-right: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: color .2s;
}

.comment_delete:hover {
    color: #e8716d;
}
