@import 'normalize.css';
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@import './source-public.css';