.flexRow,
.flexColumn,
.flexCenter {
  display: flex;
  align-items: center;
}
.flexRow {
  flex-direction: row !important;
}
.flexColumn,
.flexCenter,.flexColumnNone {
  flex-direction: column;
}

.flexCenter {
  justify-content: center;
}
.flexRowNone {
  display: flex;
  flex-direction: row;
}
.flexColumnNone{
  display: flex;
}
.main {
  width: 100%;
}
.mask{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}
*::-webkit-scrollbar{
  /* background-color: rgba(0, 0, 0, 0.8); */
  width: .36rem;
  border-radius: .3rem;
}
*::-webkit-scrollbar-track{
  display: none;
}
*::-webkit-scrollbar-button{
  display: none;
}
*::-webkit-scrollbar-thumb{
  background-color: rgba(209, 209, 209, 0.24);
  border-radius: .3rem;
}
#root{
  overflow-x: hidden;
}