.nav {
    height: 4rem;
    background: #fbfbfd54;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}
.navContent {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    color: #1D1D1F;
}

.navElement {
    display: inline-flex;
    position: relative;
    margin: 0 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 4rem;
}
